<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = " com.phonegap.aplt"
    version   = "1.0.0">

<name>Catalogo Lozano</name>

<description>
A simple PhoneGap.
</description>

<author href="https://example.com" email="paulinalozanotruj@gmail.com">
Paulina Lozano
</author>


<icon src="images/logo.png" gap:density="ldpi" gap:platform="android" />
<icon src="images/logo.png" gap:density="mdpi" gap:platform="android" />
<icon src="images/logo.png" gap:density="hdpi" gap:platform="android" />
<icon src="images/logo.png" gap:density="xhdpi" gap:platform="android" />


</widget>